{{> message }} 
{{> nav2 }} 

<table>
    <thead>
        <tr>
            <th style="color:#309e48; background-color:aqua">Creator</th>
            <th style="color:#309e48; background-color:aqua">File Name</th>
            <th style="color:#309e48; background-color:aqua">Tag's</th> 
            <th style="color:#309e48; background-color:aqua">View Code</th> 
            <th style="color:#309e48; background-color:aqua">Visit</th>
        </tr>
    </thead>
    <tbody>
        {{#each files}} 
        <tr>
            <td style="color:aqua; background-color:#68AB77">{{this.username}}</td>
            <td style="color:aqua; background-color:#68AB77">{{this.filename}}</td>
            <td style="color:aqua; background-color:#68AB77">
                {{#each this.tags}}
                    <li style="margin:0.5px;font-size: 15px">{{this}}</li>
                {{/each}}
            </td>
            <td style="color:aqua; background-color:#68AB77">
                <button style="color:aqua; background-color:#68AB77" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"> View Code </button> <!-- make a pop up -->
            </td>
            <td style="color:aqua; background-color:#68AB77">
                <form action="/submitusername" method="POST">
                <input class="form-control" type="text" name="username"  value={{this.username}} style="display:none;">
                    <button type="submit" style="color:aqua; background-color:#68AB77">Visit</button> 
                </form>
            </td>
        </tr>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{this.username}}'s Code for the file {{this.filename}}</h5>
            </div>
            <div class="modal-body">
                {{this.data}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>

        {{/each}}
    </tbody>
</table>